{% extends 'base.html'%}

{%block title%}Login{%endblock%}

{%block body%}


   {% if messages %}
  {% for message in messages %}
 
  {% if message.tags == 'success' %}
  
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{ message.tags |upper }} : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{%else%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message.tags|upper }}</strong> : {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% endfor %}

{% endif %}
<div class="row justify-content-center">
   <h1>Home</h1>
   <a href="{% url 'logout'%}">Logout</a>
</div>
{%endblock%}

