{% extends 'shop_base.html'%}
{%load static%}
{%block title%}Reset Password{%endblock%}

{%block style%}
<style>
    .errorlist{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .errorlist > li{
        display: inline;
        color: red;
    }
    form i{
        left: -30px;
        bottom: -8px;
        position: relative;
        cursor: pointer;
        z-index: 5;
    }
    
</style>
{%endblock%}
{%block content%}


{% if messages %}
{% for message in messages %}

{% if message.tags == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message.tags |upper }} : </strong>  {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{%else%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message.tags |upper }} : </strong>  {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

{% endfor %}

{% endif %}
<div class="row justify-content-center m-3">
	
	<div class="col-lg-4 col-sm-12 col-md-6  shadow p-5 border border-success rounded">
		
		<h5 class="alert alert-success text-center p-2">Reset Password</h5>
		<hr>
		<p style="text-align: justify;" class="text-muted">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
		</p>
		<form method="POST" novalidate>
			{% csrf_token %}
			<!-- {{ password_reset_form }}    -->
			<div class="form-group">
				<label for="id_email">Email:</label>
				<input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required=""
					id="id_email">
				<div class="text-danger">
					{{password_reset_form.email.errors}}
				</div>
			</div>
            <hr class="bg-success">

            <div class="d-flex flex-row justify-content-center hstack gap-3">
				<a href="javascript:history.back()" type="button" class="btn btn-block btn-outline-danger">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
						<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
					  </svg>
					  Go Back
					</a>
			<button class="btn btn-block btn-success" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
					<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
				  </svg>
				  Send
			</button>
			</div>
		</form>
	</div>

</div>
{%endblock%}
{%block script%}
{{block.super}}
{%endblock%}